.wrapper {
    width:100%;
    margin: 0 auto;
}
.home-page {
    background-color: #A4A9AD;
} 
.home-page .nav {
    background-color: black;
    height: 45px;
    color:white;
}
.home-page .nav h1 {
    font-size: 30px;
    padding:5px;
    margin: 0;

}
.home-page .hero-img {
    height: 900px;
    overflow: hidden;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 100px);
}
.home-page .hero-img .text-block {
    background-image: url("./assets/Untitled-1.png");
    width: 101%;
    background-repeat: no-repeat;
    background-size: contain;
}
.ek-img {
    grid-column: 1;
    grid-row: 1 / span 9;
    width: 130%;
}
 .text-block {
    grid-column: 1;
    grid-row: 5 / span 9;
    z-index: 5;
    color: #fff;
    text-align: center;
    font-size: 30px;
    height: 100%;
}


.home-page .hero-img .text-block {
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: .1em;
    padding-top: 100px;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }