
.hero-img {
    margin-top: 15vw;
}
.div-ek-img {
    width: 100%;
    position: relative;
}
.ek-img {
    width: 100%;
    height: 350px;
    max-height: 650px;
    object-fit: cover;
}
.div-ek-img::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,.95) 0%, rgba(128,128,128,0) 50%, rgba(0,0,0,.95) 100%);
}
.text-block h3 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 17vw;
    margin: 0;
 }
 .text-block a {
    font-family: 'Copperplate Gothic Bold', 'Balthazar';
    font-weight: bold;
    font-size: 10vw;
    padding: 15px;
    color:black;
    background-color: #B3B3B3;
    text-decoration: none;
    position: relative;
    bottom: -25px;
}

 .text-block h2 {
    font-family: 'Copperplate Gothic', 'Balthazar';
    font-size: 10vw;
    margin:0;
 }
.home-page .hero-img .text-block {
    color: white;
    text-align: center;
    padding-top: 14px;
    margin:0;
    margin-bottom: 100px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #666666;
    position: relative;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }