.nav {
    background-color: black;
    height: 45px;
    color:white;
}
.home-page .nav h1 {
    font-size: 28px;
    padding:5px;
    margin: 0;
    margin-left:10px;
    font-family: 'Copperplate Gothic';
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }